rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Fungsi bantuan
    function isAuthenticated() {
      return request.auth != null;
    }
    
    function isUserOwner(userId) {
      return request.auth.uid == userId;
    }

    function isAdmin() {
      return request.auth.token.role == 'admin';
    }

    function isDoctor() {
      return request.auth.token.role == 'dokter';
    }

    // Blok semua request tidak authenticated secara default dengan rule di bawah

    // 1. Users Collection
    match /users/{userId} {
      allow read, write: if isAuthenticated() && (isUserOwner(userId) || isAdmin());
    }

    // 2. Appointments Collection
    match /appointments/{apptId} {
      allow create: if isAuthenticated() && (request.resource.data.patientId == request.auth.uid || isAdmin());
      allow read: if isAuthenticated() && (resource.data.patientId == request.auth.uid || isDoctor() || isAdmin());
      allow update, delete: if isAuthenticated() && isAdmin();
    }

    // 3. Medical Records Collection
    match /medical_records/{recordId} {
      // asumsi ada field doctorId untuk dokter yang assigned
      allow read, write: if isAuthenticated() && ((isDoctor() && resource.data.doctorId == request.auth.uid) || isAdmin());
    }
  }
}
